.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70em;
  padding: 15em;
  &.pair {
    .project-placeholder {
      &:hover {
        box-shadow: 1em 1em 1em 0 var(--light-blue);
        border: 2px solid var(--dark-gray);
        background-color: var(--turquoise);
        .project-img {
          background-color: var(--light-blue);
        }
      }
    }
  }
  border-bottom: 1px solid black;
  .project-placeholder {
    width: 50em;
    height: 40em;
    border: 2px solid var(--dark-gray);
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    position: relative;
    transition: all ease-in-out 200ms;
    &:hover {
      box-shadow: 1em 1em 1em 0 var(--turquoise);
      border: 2px solid var(--dark-gray);
      background-color: var(--light-blue);
      .project-img {
        border: 2px solid var(--dark-gray);
        background-color: var(--turquoise);
      }
    }
    .project-info {
      background-color: var(--dark-gray);
      color: var(--fake-white);
      position: absolute;
      left: -275px;
      top: -25px;
      max-width: 650px;
      line-height: 2rem;
      letter-spacing: 2px;
      border: 1px solid black;
      padding: 1.5em;
      .project-title {
        font-size: 2rem;
      }
      .extra-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0.5em 0;
        p {
          margin-left: 1.5em;
        }
      }
    }
    .project-description {
      text-indent: 1.5rem;
      text-align: justify;
    }
    .project-img {
      position: absolute;
      border: 2px solid var(--dark-gray);
      top: -100px;
      transition: all linear 200ms;
      right: -250px;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      img {
        width: 500px;
        height: 300px;
      }
    }
    .project-code {
      position: absolute;
      left: -250px;
      bottom: -200px;
      height: 400px;
      width: 1000px;
      overflow-y: scroll;
      img {
        width: 650px;
        height: 1000px;
      }
    }
  }
}

@media screen and (max-width: 1580px) {
  .project-wrapper {
    padding: 8em;
    .project-placeholder {
      height: 70em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 1em 1em 1em 0 var(--turquoise);
      border: 2px solid var(--dark-gray);
      background-color: var(--light-blue);
      .project-info {
        position: static;
      }
      .project-img {
        position: static;
        margin-top: 2px;
      }
      .project-code {
        position: static;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .project-wrapper {
    width: 65vw;
    padding: 6em;
    margin-left: 4em;
    .project-placeholder {
      width: 65vw;
      height: 70em;
      justify-content: flex-start;
      .project-info {
        background-color: transparent;
        border: transparent;
        line-height: normal;
      }
      .project-img {
        img {
          height: auto;
          width: 100%;
        }
      }
      .project-code {
        width: 100%;
        pre {
          overflow-x: scroll;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .project-wrapper {
    width: 90vw;
    padding: 2em;
    margin: 0;
    border-bottom: 1px solid black;
    .project-placeholder {
      width: 90vw;
    }
  }
}
