:root {
  --dark-gray: rgba(26, 26, 26, 0.8);
  --light-gray: #888;
  --fake-white: #eee;
  --turquoise: rgb(110, 255, 211);
}
.hero-container {
  display: flex;
  height: 100vh;
  background-color: black;
}
@media screen and (max-width: 1080px)  {
    .hero-container{
      flex-direction: column;
    }
}
