.hero-container {
  position: absolute;
  top: 0;
  display: flex;
  height: 100vh;
  background-color: black;
}
@media screen and (max-width: 768px)  {
    .hero-container{
      flex-direction: column;
      width: 100vw;
    }
}
