:root {
  --dark-gray: rgba(26, 26, 26, 0.8);
  --light-gray: #888;
  --fake-white: #eee;
  --turquoise: rgb(110, 255, 211);
}
.hero-container {
  display: flex;
  height: 100vh;
  background-color: black;
  .herocard-container {
    flex: 1;
    display: flex;
    a {
      flex: 1;
      overflow: hidden;
      filter: grayscale(100%);
      transition: all 200ms linear;
      box-shadow: none;
      z-index: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      img {
        position: relative;
        display: block;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: all 200ms linear;
      }
      strong {
        position: absolute;
        font-size: 3em;
        font-weight: 6em;
        color: var(--fake-white);
        transition: all 200ms linear;
        border: 2px solid var(--fake-white);
        padding: 0.5em 1em;
        box-shadow: 0;
        &:hover {
          animation: pulse 1s;
          color: var(--turquoise);
          border: 5px solid var(--turquoise);
          box-shadow: 0 0 0 1em rgba(#fff, 0);
        }
      }
      &:hover {
        z-index: 1;
        filter: grayscale(0%);
        filter: blur(50%);
        box-shadow: 0 0 1em 0.5em var(--turquoise);
        img {
          transform: scale(1.025);
          opacity: 60%;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--turquoise);
  }
}
