:root {
  --dark-gray: rgba(26, 26, 26, 0.8);
  --light-gray: #888;
  --fake-white: #eee;
  --turquoise: rgb(59, 160, 117);
  --light-blue: rgb(0, 194, 255);
}

html {
  overflow-y: scroll;
}

.App {
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  height: 100%;
  margin: 0 auto;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #168784;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C12024;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c1202394;
}
