#experience {
  margin: 10em 0;
  margin-left: 195px;
}

.exp-card-wrapper {
  display: inline-block;
  padding-top: 5em;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 6em;
  }
}
.exp-container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  .exp-card {
    border: 1px solid #404040;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    min-width: 685px;
    max-width: 685px;
    flex: 1;
    padding: 2em;
    transition: all linear 200ms;
    &:hover{
        box-shadow: 5px 5px 10px var(--light-blue);
        color: var(--light-blue);
    }
    h2 {
      font-weight: 900;
      font-size: 3rem;
    }
    .tasks {
        margin-top: 0.5em;
      ul {
        display: flex;
        flex-direction: column;
        line-height: 1em;
        list-style-type: square;
        flex-wrap: wrap;
        margin-left: 1em;
        font-weight: 100;
      }
    }
  }
}
