.project-gallery-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100vw;
  .side-menu-wrapper {
    position: sticky;
    margin-left: 2em;
    left: 0;
    top: 10em;
    width: 200px;
    height: 600px;
    display: flex;
    justify-content: center;
    .side-menu {
      position: absolute;
      left: 9em;
      border-left: 2px solid var(--dark-gray);
      .side-menu-item {
        display: block;
        position: relative;
        padding: 1em;
        margin-bottom: 0.5em;
        border-bottom: 2px solid var(--dark-gray);
        border-right: 2px solid var(--dark-gray);
        transition: all linear 200ms;
        &:hover {
          box-shadow: inset 9em 0 0 0 var(--light-blue);
        }
        &.gauche {
          left: -8.5em;
          border-left: 2px solid var(--dark-gray);
          border-right: none;
          &:hover {
            box-shadow: inset -9em 0 0 0 var(--turquoise);
          }
        }
      }
    }
  }

  .project-gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
.page-title {
  font-size: 6em;
  position: absolute;
  top: 0.5em;
  left: 4em;
}

@media screen and (max-width: 1440px) {
  .page-title {
    position: relative;
    left: 0;
    top: 1.5em;
    padding: 0.5em;
  }
}
@media screen and (max-width: 1024px) {
  .page-title {
    position: relative;
    left: 0;
    top: 1.5em;
    padding: 0.5em;
  }
}
@media screen and (max-width: 768px) {
  .project-gallery-wrapper {
    position: absolute;
    top: 2em;
    left: 0;
    .side-menu-wrapper {
      display: none;
    }
  }
  .page-title {
    top: 0;
    font-size: 3rem;
  }
}
