:root {
  --dark-gray: rgba(26, 26, 26, 0.8);
  --light-gray: #888;
  --fake-white: #eee;
  --turquoise: rgba(59,160,117,255);
  --light-blue: rgba(0,194,255,255);
}
.App{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
