.menu-wrapper {
    display: flex;
    .logo-wrapper {
      width: 75px;
      display: flex;
    }
    .main-menu {
      text-transform: uppercase;
      ul {
        margin-left: 2em;
        height: 100%;
        display: flex;
        align-items: center;
        li {
          margin-left: 2em;
        }
      }
    }
  }